@model DaVenti.Models.Employee

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Landing.cshtml";

}

<h1>Register</h1>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            <strong>Success! </strong>@ViewBag.Message
        </div>
    }
}

else
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal form-signin">
    <h4>Register your Account Now!</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.email_emp, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.email_emp, new { htmlAttributes = new { @class = "form-control", placeholder = "example@email.com" } })
            @Html.ValidationMessageFor(model => model.email_emp, "", new { @class = "text-danger" })
            @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.password_emp, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.password_emp, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.password_emp, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.confirm_password_emp, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.confirm_password_emp, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.confirm_password_emp, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.name_emp, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.name_emp, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Name" } })
            @Html.ValidationMessageFor(model => model.name_emp, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("gender", new List<SelectListItem>
            {
                new SelectListItem {Text="Select Gender", Value="0", Disabled = true, Selected = true},
                new SelectListItem {Text="Male", Value="Male"},
                new SelectListItem {Text="Female", Value="Female"}
            }, "Select Gender", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.phone_num_emp, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.phone_num_emp, new { htmlAttributes = new { @class = "form-control", placeholder = "08xxxxxxxxxx" } })
            @Html.ValidationMessageFor(model => model.phone_num_emp, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.role, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("role", new List<SelectListItem>
            {
                new SelectListItem {Text="Select Role", Value="0", Disabled = true, Selected = true},
                new SelectListItem {Text="Manager", Value="Manager"},
                new SelectListItem {Text="Human Resource", Value="Human Resource"},
                new SelectListItem {Text="Quality Control", Value="Quality Control"},
                new SelectListItem {Text="Administrator", Value="Administrator"}
            }, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.role, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="mt-4 mb-3 text-center">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>

        if (ViewBag.Message != null)
        {
            <div class="alert alert-danger">
                <strong>Error! </strong>@ViewBag.Message
            </div>
        }
    }
}

<div>
    @Html.ActionLink("Login", "Login")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
